<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{{title}} Audio Books</title>

    {{!-- 
    If you want to use Bootstrap, uncomment the line below and delete the Pure CSS lines above.
    {{addRemoteCSS "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}}
    --}}
    {{addLocalCSS "/css/app.css"}}

    {{#remoteCSS}}
    <link rel="stylesheet" href="{{{.}}}">
    {{/remoteCSS}}

    {{#localCSS}}
      {{#if this.oldIE}}
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{{this.oldIE}}}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{{{this.path}}}">
        <!--<![endif]-->
      {{else}}
        <link rel="stylesheet" href="{{{this.path}}}">
      {{/if}}
    {{/localCSS}}
</head>

<body lang="en">

    <div class="navbar animated fadeInDown">
        <div class="brand-logo"><span class="otto">Otto</span> <span class="books">Books</span></div>
                <form action="#" class="search">
                    <div class="search-dropdown">
                        <select name="search_type">
                            <option value="author">Author</option>
                            <option value="title">Title</option>
                        </select>
                    </div>
                    <div class="search-text">
                        <label for="q">Find a book&#8230;</label>
                        <input type="text" id="q" name="q" placeholder="Find a book&#8230;" />
                    </div>
                    <button type="submit">Search</button>
                </form>
        </div>
    </div>

    <div class="container">
        {{{body}}}
    </div>

    {{!--<script>
        // data exposed by express-state
        {{{state} } }
    </script>--}}

    {{!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

     Uncomment the line below if you want to use Bootstrap's JS modules 
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->--}}
    <script src="/js/script.js"></script>
</body>

</html>
