
        <div class="book">
            <a href="/player/{{slug}}/{{id}}" alt="{{title}}" title="{{title}}">
                <img class="lazy play-overlay" src="/img/play-overlay.svg" alt="{{#each authors}}{{first_name}} {{last_name}}{{/each}}" />
                <img class="cover lazy" src="/bookcover/default" alt="{{title}}" data-src="http://res.cloudinary.com/mydesignbuddy/image/fetch/w_300,h_300,c_fill/{{url_thumbnail}}" />
            </a>
        </div>
