<div class="navbar animated fadeInDown">
        <div class="brand-logo"><span class="otto">Otto</span> <span class="books">Books</span></div>
        <form action="#" class="search">
            <div class="search-dropdown">
                <select name="search_type">
                    <option value="author">Author</option>
                    <option value="title">Title</option>
                </select>
            </div>
            <div class="search-text">
                <label for="q">Find a book&#8230;</label>
                <input type="text" id="q" name="q" placeholder="Find a book&#8230;" />
            </div>
            <button type="submit">Search</button>
        </form>
</div>
<div id="content" class="animated fadeInUpBig delay-1-sec">

  <h2>Top Books</h2>
  <div class="top-results">
    {{#each topBooks}}
      {{> bookThumb }}
    {{/each}}
  </div>
  <div class="genre-results">
      <h2>Fiction</h2>
      <ul class="list-menu">
      {{#each fiction}}
          <li><a href="genre/{{titleEscaped}}" alt="{{title}}" title="{{title}}">{{title}}</a></li>
      {{/each}}
      </ul>
      <h2>Non-Fiction</h2>
      <ul class="list-menu">
      {{#each nonFiction}}
          <li><a href="genre/{{titleEscaped}}" alt="{{title}}" title="{{title}}">{{title}}</a></li>
      {{/each}}
      </ul>
  </div>
</div>
