<script>
window.bookTitle = "{{title}}";
</script>
<div class="book-details">
  <h1>{{title}}</h1>

  <img class="cover-lg lazy" alt="{{title}} Cover Image" data-src="{{url_thumbnail}}" />

  <h2>Author(s)</h2>
  <ul>
    {{#each authors}}
    <li>{{first_name}} {{last_name}}</li>
    {{/each}}
  </ul>

  <p>{{{description}}}</p>

  <ol id="track-list" class="list-menu">
      {{#each tracks}}
      <li id="track_li_{{id}}"><a id="track_{{id}}" class="track" href="{{media.mp3}}">{{title}}</a></li>
      {{/each}}
  </ol>
</div>

<div id="player">
  <div class="player animated">
        <div id="player-expand-toggle">
          <div id="toggle-button">&#9650; Tracks &#9650;</div>
        </div>

        <div class="cover-art">
            <img class="lazy" alt="{{title}} Cover Image" data-src="{{url_thumbnail}}" />
        </div>
        <div id="current_track"></div>
        <div class="time-display">
            <div id="current_time">00:00</div>
            <div id="duration">00:00</div>
        </div>
        <div id="slider">
            <div class="progress"></div>
        </div>
        <div class="button-container">
          <button id="previous"> Previous Track </button>
          <button id="rewind"> Rewind</button>
          <button id="playpause"> Play / Pause </button>
          <button id="stop"> Stop </button>
          <button id="fastforward"> Fast Forward </button>
          <button id="next"> Next Track </button>
        </div>
        <div id="player-track-list-container"></div>
    </div>
</div>

<script src="/js/player.min.js"></script>
{{!--<script src="/js/player.js"></script>--}}
